# Ignore virtual environment
.venv/

# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore macOS specific files
.DS_Store

# Ignore other unnecessary files
*.log
*.tmp
